/app/cache/*
/app/logs/*

/app/config/environments/*/local.yml

/behat.yml
/build/Sami

/src/Model/Base
/src/Model/Map
/src/Model/**/Base
/src/Model/**/Map

/web/*.php
!/web/app.php
!/web/app_test.php
/web/css
/web/js
/web/bundles

/vendor/*
